@using DSM.TABLES

@model DSM.DTO.resultDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="http://localhost:4540/people/branch/Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @*@Html.DisplayNameFor(model => model.ID)*@
                Name
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Name)*@
               CreatedDate
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.CreatedDate)*@
               Poster
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IsActive)*@
                IsActive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (List<DSM.TABLES.Guide.Branch>) Model.data) {
        <tr>
           
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

               <td>
               
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

              <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td>
             
                 <a href="/people/branch/Edit/@item.ID"> Edit</a>|
             
                @Html.ActionLink("Delete", "Delete", new { id=item.ID  })
                <a href="/people/branch/details/@item.ID"> Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
