@using DSM.TABLES

@model DSM.DTO.resultDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="http://localhost:4540/people/branch/Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             
            <th>
                @*@Html.DisplayNameFor(model => model.ID)*@
                Name
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Name)*@
               CreatedDate
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.CreatedDate)*@
               Poster
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IsActive)*@
                IsActive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (List<DSM.TABLES.Guide.Branch>) Model.data) {
        <tr>
           
          
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

               <td>
               
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

              <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
         
            <td>
                @*@Html.DisplayFor(modelItem => item.IsActive)*@
                <input type="checkbox"   onchange="Modify('@item.ID','@item.IsActive')" checked="@item.IsActive">

            </td>

            <td>
             
                 <a href="/people/branch/Edit/@item.ID"> Edit</a>|
               @* @Html.ActionLink("Delete", "Delete", new { id=item.ID  })*@
                <a href="/people/branch/details/@item.ID"> Details</a>|
                 <a href="/people/branch/delete/@item.ID" onclick="del()"> Delete</a>

            </td>
        </tr>
}
    </tbody>

    @section Scripts{
        <script>
            function del(){
                var c=confirm("Are You sure You Want To Delete");
                if(!c){
                return event.preventDefault();
                 
                }
            }

            function Modify(va,r){
              //var r=  window.confirm("Are You sure !!!1")
              //if(r){
              console.log(r)
              var x;
              if(r=="True"){
                   x=false;
                   console.log("fffffffffff")
                   console.log(r)
                   console.log(x)


              }
              else {

                  x=true
                  console.log("ttttttttttttttt")
                  console.log(r)
                  console.log(x)
              }
              console.log(x)
                  $.ajax({
                     
                    method: 'post',
                    data:{'d':x},
                    url: 'http://localhost:4540/people/Branch/EditChecked/'+va,
                                      
                    success:function(res)
                    {
                        if (res.status)
                        {
                            alertify.success(res.message);
                            setTimeout(function(){
                                  window.location.href = "http://localhost:4540/people/Branch/Index";
                            }, 3000);

                        }
                        else
                        {
                            alertify.error(res.message);
                        }

                    },
                         error: function (res)
                         {
                        alertify.error( res.message);
                    }

                }); 
            //  }
            }
        </script>
    }
 </table>
