@model DSM.TABLES.Guide.ImagesScreen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImagesScreen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="http://localhost:4540/people/screen/index">Back to List</a>
</div>
