@model DSM.DTO.resultDTO

@{
    ViewData["Title"] = "Index";
   } 
@{
    var c="checked";
    foreach (var item in (List<DSM.TABLES.Guide.ImagesScreen>) Model.data)
    {
        if (item.IsActive)
        {
            c = "checked";
        }
    }

  
}
}
<h1>Index</h1>

<p>
    <a href="http://localhost:4540/people/Screen/Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Name
            </th>
            <th>
              CreatedDate
            </th>
            <th >
                IsActive
            </th>
            <th>
                Branch 
            </th>
            <th>
                Code
            </th>
            <th>
                Notes
            </th>
            <th>
                ScreenSize
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in(List<DSM.TABLES.Guide.ImagesScreen>) Model.data) {
        <tr>
           
            <td>
                @*Html.DisplayFor(modelItem => item.Name)*@
                @item.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                
              @Html.DisplayFor(modelItem => item.IsActive)
              @*<input id="inp" type="checkbox" value="@item.IsActive" >*@
               
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Branch.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenSize)
            </td>
            <td>
                <a href="/people/Screen/Edit/@item.ID"> Edit</a>|
                <a href="/people/Screen/details/@item.ID"> Details</a>|
                 <a href="/people/Screen/delete/@item.ID" onclick="del()"> Delete</a>

            </td>
        </tr>
}
    </tbody>
     @section Scripts{
        <script>
            function del(){
                var c=confirm("Are You sure You Want To Delete");
                if(!c){
                return event.preventDefault();
                 
                }
            }
           //$(document).ready(function () {
           //  // var el = document.getElementById('isactive');
           //   document.getElementById('tt').disabled = false;
           //   //  el.myProperty = "@c";
           //}
           $(document).ready(function () 
           {
              console.log("hi")
             if($("#inp").val) {
                 console.log("hi11")
                 $("#inp").setAttribute( 'checked', 'checked' );
             }
           }
        </script>
    }
</table>
